.logo-img {
    background: url('../images/logo.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 0;
}

#blue_title {
    background-color: purple;
    color: white;
    font-size: 20px;
    /* width: 100%; */
    height: 150px;

}

#blue_title a {
    float: right;
    clear: none;
    margin: 10px 30px 10px 0px;
}

#blue_title .logo-img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#blue_title .welcome1{
    font-size:xx-large;
    padding-top: 30px;
    margin:0%;
    margin-left: 20px;
}

#blue_title .welcome2{
    padding-top: 10px;
    margin-left: 60px;
}

#topics {
    margin-top: 30px;
    font-size: 18px;
}

#topics div {
    float: right;
    text-align: right;
    color: #888;
    font-size: 16px;
    margin-right: 20px;
}

.list_triangle {
    padding: 0px;
    margin: 10px 0px;
    list-style: none;
}

.list_triangle>li {
    position: relative;
    padding: 0px 0px 0px 1em;
    margin: 10px;
}

.list_triangle>li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.4em solid #3388dd;
    content: "";
}

.start_button {
    display: inline-block;
    border-radius: 4px;
    background-color: purple;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align:middle
}
  
.start_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.start_button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.start_button:hover span {
    padding-right: 25px;
}
  
.start_button:hover span:after {
    opacity: 1;
    right: 0;
}

.div_style{
    height: 240px;
    text-align: center;
}

.div_style::before{
    content:'';
    width:0;
    height:100%;
    display:inline-block;
    position:relative;
    vertical-align:middle;
    background:#f00;
}