html {
    max-height: 938px;
}

body {
    background: url(../images/seiun.png) no-repeat;
    background-size: cover;
    color: white;
}

div.video {
    position: relative;
    padding: 0%;
}

span.video {
    background-color: black;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

#video {
    width: 100%;
}

#clock p{
    font-size: 50px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    background-image: linear-gradient(135deg, var(--color2), var(--color4), var(--color6));
    /* text不是通用样式属性值 */
    background-clip: text;
    /* 这个是chrome */
    -webkit-background-clip: text;
}