/* index.html */
body {
    font-size: 16px;
    color: #fff;
    background-color: #165e83;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/logo.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    /* Kosher cert */
    color: #000;
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 15px;
}

#guest-img {
    float: left;
    background: url(../images/guest.jpg);
    width: 100px;
    height: 75px;
    margin: auto 10px;
}

.container .jumbotron {
    box-shadow: 0 0 50px #192f60;
    border: 2px solid #192f60;
    margin: 20px auto;
}

.tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #192f60;
    overflow: hidden;
    background-position: center;
}

.tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

.tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

.footer-block {
    line-height: 2;
}

.footer-block>span {
    font-size: 1.3em;
}

/* #address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
} */

#testimonials {
    font-style: italic;
}

#testimonials p:nth-child(2) {
    margin-top: 25px;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    .container .jumbotron {
        background: url('../images/gym-md.png') no-repeat;
        height: 588px;
    }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

    .container .jumbotron {
        background: url('../images/gym-sm.png') no-repeat;
        height: 456px;
    }

}

/********** Large devices only **********/
@media (min-width: 1200px) {
    .container .jumbotron {
        background: url('../images/gym-lg.png') no-repeat;
        height: 770px;
    }
}



/* exersize.html */

body.exersize {
    background: url(../images/seiun.png) no-repeat;
    background-size: cover;
    color: white;
}

div.video {
    position: relative;
    padding: 0%;
}

span.video {
    background-color: black;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

#video {
    width: 100%;
}

#clock p {
    font-size: 50px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    background-image: linear-gradient(135deg, var(--color2), var(--color4), var(--color6));
    /* text不是通用样式属性值 */
    background-clip: text;
    /* 这个是chrome */
    -webkit-background-clip: text;
}